/* Estilos Gerais */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Poppins;
    background-color: lightslategray;
    color: white;
}

/* Grid Principal */

.container{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 80px 1fr 60px;
    grid-template-areas: 
    "header header" 
    "sidebar content"
    "footer footer";
    min-height: 100vh;
}

/* Cabeçalho (com flexbox) */

.header{
    grid-area: header;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.menu{
    display: flex;
    gap: 20px;
}

.menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover{
    text-decoration: underline;
}

.sidebar{
    grid-area: sidebar;
    background-color:silver;
    color: white;
    padding: 20px;
}

.sidebar ul{
    color: white;
    list-style: none;
}

.sidebar a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px 0;
}

.sidebar a:hover{
    background-color: darkgray;
    border-radius: 10px;
    padding-left: 10px ;
}

/* Conteúdo principal (com flexbox) */

.content{
    color: black;
    grid-area: content;
    background-color: white;
    padding: 20px;
}

.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
    width: 250px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.footer{
    grid-area: footer;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}