*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
    background-color: antiquewhite;
}

.container{
    color: white;
    text-align: center;
    background-color: cadetblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px black;
    width: 90%;
    max-width: 600px;
    border: 1px solid black;
}

h1{
    color: white;
}

p{
    color: yellowgreen;
    font-size: 1.2em;
}

button{
    cursor: pointer;
    margin-left: 5px;
    background-color: transparent;
    border: none;
    transition:  0.2s ease;
    padding: 10px;
    border-radius: 10px;
}

button:hover{
    background-color: greenyellow;
}

button:active{
    background-color: yellowgreen;
}

ul{
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

ul li{
    background-color: azure;
    color: black;
    margin: 5px 0px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
}

/* Estilo para campo de entrada */

input[type="text"]{
    padding: 10px;
    width: 80%;
    max-width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: inset 0 1px 2px black;
    outline: none;
    transition: border-color 0.3s ease;
}