@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body{
    background-color: #797979;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #0a0b15;
    color: white;
    padding: 20px;
    text-align: center;
}

main{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

.box{
    cursor: pointer;
    color: white;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 2px 6px black;
    border-radius: 10px;
    padding: 30px;
    width: 40%;
    text-align: center;
    margin: 10px;
}

nav{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

.box:hover{
    background-color: #1d2034;
}

.box:active{
    background-color:#272a43 ;
}

footer{
    margin-top: auto;
    background-color: #0a0b15;
    color: white;
    text-align: center;
    padding: 10px;
}

@media (max-width: 1024px){
    .card{
        width: 45%;
    }
}

/* Tela Média- Celulares */

@media (max-width: 600px){
    main{
        flex-direction: column;
        align-items: center;
    }
    .box{
        width: 90%;
    }
    header, footer{
        text-align: center;
    }
}