* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: 
  rgb(80, 80, 80);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.box {
  line-height: 1.5;
  width: 900px;
  background-color: white;
  margin: 40px auto;
  padding: 70px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgb(0, 0, 0);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
}

.subtit {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: gray;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

hr {
  width: 760px;
  margin-left: 20px auto;
  margin-right: 20px auto;
}

section {
  font-size: 17px;
  margin: 30px;
  margin-left: 10px;
}

.caixa3 {
  display: flex;
  gap: 10px;
}

.formacao {
  flex: 1;  /* cada um ocupa metade */
  padding: 10px;
}

.superior {
  margin-bottom: 20px;
}

.objetivo {
  flex: 1;
  padding: 10px;
}

ul {
  padding-left: 10px;
}

.cursotitulo {
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

.cursos {
  margin: 20px;
  margin-left: 30px;
  flex-wrap: wrap;
  gap: 10px
}

